*{
  margin: 0;
  padding: 0;
  /*
  border-style: solid;
  border-width: 1px;
  */
}

body{
  background-color: rgb(63, 63, 63);
}


@media (min-width: 900px) {
  main{
    width: 900px;
    margin: 0 auto;
  }
  body{
  box-shadow: 100px -30px 100px 0px rgb(1, 1, 1, 0.3) inset, -100px -30px 100px 0px rgb(1, 1, 1, 0.3) inset;
  }
  .attributesBox{
    width: 550px;
  }
  .domainsBox{
    width: 200px;
  }
}
@media (max-width: 899px){
  body{
    box-shadow: 10px -3px 10px 0px rgb(1, 1, 1, 0.3) inset, -10px -3px 10px 0px rgb(1, 1, 1, 0.3) inset;
    }
}


main{
  padding: 20px;
}

h2{
  background-color: #0B9AC6;
  color: white;
}

h2, .console_element{
  border-radius: 20px;
  padding: 15px;
}

.console_element{
  background-color: #8cdbe6;
  margin: 20px;
  box-shadow: 1px 1px 5px rgb(255, 255, 255, 0.9) inset;
}

.console_element_header{
  display: flex;
  padding-bottom: 10px;
  margin-bottom: 20px;
  color: white;
  border-bottom: dotted 2px black;
}

.console_element_header > .console_element_header_buttons {
  margin-left: auto; 
  margin-right: 0;
}

.console_element_header_buttons > button {
  margin-left: 5px;
}

button{
  padding: 1px;
}
select{
  padding: 2px;
}

#login_data, h2{
  box-shadow: 1px 1px 5px lightblue inset;
}

#login_data_content, h2, .console_element_header{
  text-shadow: 1px 1px 1px black;
}

#login_data {
  margin-left: auto; 
  margin-right: 0;
  position: relative;
  float: right;
  border-radius: 0 0 0 20px;
  background-color: #0B9AC6;
  color: white;
}

#login_data_content {
  display: flex;
  padding: 10px;
}

#login_data_content > p {
  margin-top: 2px;
  margin-right: 10px;
}

input{
  margin-left: 20px;
  margin-right: 10px;
}

table{
  background-color: white;
  border-radius: 2px;
  margin: 0;
  padding: 0;
  box-shadow: 1px 1px 1px rgb(0, 0, 0, 0.9);
  border-collapse: collapse;
  width: 100%;
}

th{
  background-color: #0B9AC6;
  color: white;
  text-shadow: 1px 1px 1px black;

  text-align: left;
}

.td_with_delete_button{
  text-align: right;
  padding: 0;
}

.td_with_delete_button > button{
  display: none;
  padding: 0;
}

td{
  background-color: white;
}

td,th{
  padding: 2px;
}

tr:hover > td{background-color: rgb(172, 172, 172);}
tr:hover > td > button{display: inline-block;}

.visible {
  display: block;
}

.hidden {
  display: none;
}

.sso_checkbox > input {
  margin-right: 5px;
}

.sso_checkbox {
  margin-right: 10px;
  color: white;
  text-shadow: 1px 1px 1px black;
  background-color: #0B9AC6;
  padding: 5px;
  padding-left: 0px;
  box-shadow: 1px 1px 1px rgb(0, 0, 0, 0.9);
  border-radius: 2px;
}

@media (max-width: 509px){
  .sso_checkbox{
    display: block;
    margin-bottom: 5px;
  }
}

@media (min-width: 510px){
  .sso_checkbox{
    margin-bottom: 30px;
  }
}

.inputbox{
  margin-bottom: 6px;
}


.TechUserProjectConsoleSSOManager table{
  margin-bottom: 5px;
}

tr:not(:last-child) {
    border-bottom: solid 1px rgb(0, 0, 0, 0.4);
}
/*
#upload_file_button{
  color: white;
  text-shadow: 1px 1px 1px black;
  background-color: rgb(4, 120, 167);
  padding: 2px;
  box-shadow: 1px 1px 1px rgb(0, 0, 0, 0.9);
  border-radius: 2px;
  display: inline-block;
}
#upload_file_button:hover{
  background-color: rgb(80, 140, 163);
}
#upload_file_button > input{
  display: neno;
}
                        
*/
